[Unit]
Description=Celery Worker Transient Service
After=network.target

[Service]
Type=forking
User={USER}
Group={GROUP}
WorkingDirectory={PROJECT_DIR}

ExecStart={VENV_DIR}/bin/celery multi start worker-transient \
    -A {PROJECT_NAME} \
    --concurrency=1 \
    --queues=transient \
    -O fair \
    --task-events \
    --prefetch-multiplier=1 \
    --max-tasks-per-child=1 \
    --max-memory-per-child=100000 \
    --logfile={LOGS_DIR}/celery-worker-transient.log \
    --loglevel=INFO \
    --pidfile={PID_DIR}/celery-worker-transient.pid

ExecStop={VENV_DIR}/bin/celery multi stopwait worker-transient \
    --pidfile={PID_DIR}/celery-worker-transient.pid

ExecReload={VENV_DIR}/bin/celery multi restart worker-transient \
    -A {PROJECT_NAME} \
    --concurrency=1 \
    --queues=transient \
    -O fair \
    --task-events \
    --prefetch-multiplier=1 \
    --max-tasks-per-child=1 \
    --max-memory-per-child=100000 \
    --logfile={LOGS_DIR}/celery-worker-transient.log \
    --loglevel=INFO \
    --pidfile={PID_DIR}/celery-worker-transient.pid

[Install]
WantedBy=multi-user.target