[Unit]
Description=Celery Flower
After=network.target

[Service]
User={USER}
Group={GROUP}
WorkingDirectory={PROJECT_DIR}
Restart=on-failure

ExecStart={HOME}/{VENV}/bin/celery flower \
    --broker='{FLOWER_BROKER_URL}' \
    --basic_auth='{FLOWER_BASIC_AUTH}' \
    --log_file_prefix={LOGS_DIR}/flower.log

[Install]
WantedBy=celery-worker.service,celery-worker-02.service,celery-worker-03.service