[Unit]
Description=Celery Beat Service
After=network.target

[Service]
User={USER}
Group={GROUP}
WorkingDirectory={PROJECT_DIR}
Restart=on-failure

ExecStart={VENV_DIR}/bin/celery beat \
    -A {PROJECT_NAME} \
    -S django \
    --logfile={LOGS_DIR}/celery-beat.log \
    --loglevel=INFO \
    --pidfile={PID_DIR}/celery-beat.pid

[Install]
WantedBy=celery-worker-beat.service