[Unit]
Description=Celery Beat Service
After=network.target

[Service]
User={USER}
Group={GROUP}
WorkingDirectory={PROJECT_DIR}
Restart=on-failure

ExecStart={HOME}/{VENV}/bin/celery beat \
    -S django \
    --logfile={LOGS_DIR}/celery-beat.log \
    --loginfo INFO

[Install]
WantedBy=celery-worker-default.service,celery-worker-beat.service,celery-worker-transient.service