[Unit]
Description=Celery Worker Beat Service
After=network.target

[Service]
Type=forking
User={USER}
Group={GROUP}
WorkingDirectory={PROJECT_DIR}
ExecStart={HOME}/{VENV}/bin/celery multi start worker-beat \
    --queues beat \
    -O fair \
    --task-events \
    --prefetch-multiplier 2 \
    --max-tasks-per-child 4 \
    --max-memory-per-child 2000000 \
    --autoscale 4,1 \
    --logfile={LOGS_DIR}/celery-worker-beat.log \
    --loglevel INFO \
    --pidfile={PID_DIR}/celery-worker-beat.pid
ExecStop={HOME}/{VENV}/bin/celery multi stopwait worker-beat \
    --pidfile={PID_DIR}/celery-worker-beat.pid
ExecReload={HOME}/{VENV}/bin/celery multi restart worker-beat \
    --queues default \
    -O fair \
    --task-events \
    --prefetch-multiplier 2 \
    --max-tasks-per-child 4 \
    --max-memory-per-child 2000000 \
    --autoscale 4,1 \
    --logfile={LOGS_DIR}/celery-worker-beat.log \
    --loglevel INFO \
    --pidfile={PID_DIR}/celery-worker-beat.pid

[Install]
WantedBy=multi-user.target