[Unit]
Description=Celery Worker
After=network.target

[Service]
Type=forking
User={user}
Group=www-data
WorkingDirectory={project_dir}

ExecStart={home}/{venv}/bin/celery multi start worker-01 \
    --pidfile={pid_dir}/celery-worker-01.pid \
    --logfile={logs_dir}/celery-worker-01.log \
    -l INFO \
    -O fair \
    --events \
    --autoscale=4,2

ExecStop={home}/{venv}/bin/celery multi stopwait worker-01 \
    --pidfile={pid_dir}/celery-worker-01.pid

ExecReload={home}/{venv}/bin/celery multi restart worker-01 \
    -A {project} \
    --pidfile={pid_dir}/celery-worker-01.pid \
    --logfile={logs_dir}/celery-worker-01.log \
    -l INFO \
    -O fair \
    --events \
    --autoscale=4,2

[Install]
WantedBy=multi-user.target