[Unit]
Description=Celery Flower
After=network.target

[Service]
User={user}
Group=www-data
WorkingDirectory={project_dir}
Restart=on-failure

ExecStart={home}/{venv}/bin/celery flower \
        -A {project} \
        --broker='{flower_broker_url}' \
        --basic_auth='{flower_basic_auth}' \
        --log_file_prefix={logs_dir}/flower.log

[Install]
WantedBy=celery-worker.service,celery-worker-02.service,celery-worker-03.service