[Unit]
Description=Celery Worker Normal Service
After=network.target

[Service]
Type=forking
User={USER}
Group={GROUP}
WorkingDirectory={PROJECT_DIR}

ExecStart={VENV_DIR}/bin/celery multi start worker-normal \
    -A {PROJECT_NAME} \
    --queues=normal \
    -O fair \
    --task-events \
    --prefetch-multiplier=4 \
    --max-tasks-per-child=4 \
    --max-memory-per-child=100000 \
    --autoscale=4,2 \
    --logfile={LOGS_DIR}/celery-worker-normal.log \
    --loglevel=INFO \
    --pidfile={PID_DIR}/celery-worker-normal.pid

ExecStop={VENV_DIR}/bin/celery multi stopwait worker-normal \
    --pidfile={PID_DIR}/celery-worker-normal.pid

ExecReload={VENV_DIR}/bin/celery multi restart worker-normal \
    -A {PROJECT_NAME} \
    --queues=normal \
    -O fair \
    --task-events \
    --prefetch-multiplier=4 \
    --max-tasks-per-child=4 \
    --max-memory-per-child=100000 \
    --autoscale=4,2 \
    --logfile={LOGS_DIR}/celery-worker-normal.log \
    --loglevel=INFO \
    --pidfile={PID_DIR}/celery-worker-normal.pid

[Install]
WantedBy=multi-user.target